body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}

h1 {
    color: black; /* Title color */
}

#icons {
    display: flex; /* Use flexbox to arrange icons in a row */
    justify-content: center; /* Center the icons */
    margin-top: 20px;
}

.icon {
    border: 1px solid #ccc; /* Outline for the icon */
    border-radius: 15px; /* Rounded corners */
    width: 240px; /* Set width */
    height: 240px; /* Set height */
    display: flex;
    justify-content: center; /* Center the image */
    align-items: center; /* Center the image */
    overflow: hidden; /* Hide overflow */
}

.icon img {
    width: 100%; /* Fill the container width */
    height: 100%; /* Fill the container height */
    object-fit: fill; /* Ensure it fills the container */
    display: block; /* Remove any inline spacing */
}
.icon-text {
    margin-top: 10px; /* Space above the text */
}


